.feature {
    fill: orange;
    stroke: #eee;
    stroke-width: .2px;
    stroke-linejoin: round;
}

.feature.active {
    fill: blue;
    stroke: #eee;
    stroke-width: .5px;
    stroke-linejoin: round;
}

.map {
    position: absolute;
    width: 70%;
    height: 95%;
    top: 3px;
    background: #bef;
}

.control {
    position: fixed;
    left: 72%;
    top: 3px;
    width: 25%;
    height: 95%;
    background-color: #ccc;

}

.city{
    fill: red;
}

.city.hidden{
    display: none;
}

div.items div.tab:not(:target) {display: none}
div.items div.tab:target {display: block}

.tab{
    font: bold 13px;
    font-decoration: none;
    background-color: #EEEEEE;
    color: #333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.country-label {
    fill: #777;
    fill-opacity: 0.7;
    font-weight: 300;
    display: none;
}

    .city-label{
        fill: black;
        font-weight: 100;
        font-size: 3px;
        display: none;
        left: 1em;
    }
    
    .infotable {
        text-align: center;
        background-color: #eee;
        width:100%;
    }
    
    .infotable, .infotable th, .infotable td{
        border: 1px solid black;
    }
    
    .comment{
        margin: 3px;
        border: 1px black solid;
        background-color: #ccf;
        font-style: italic;
    }
    
    .commentDivider{
        background-color: #bef;
        margin-top: 10px;
        margin-bottom: 3px;
        padding: 10px;
    }
    .ping{
        fill: none;
        stroke: red;
        stroke-width: 1.5px;
        stroke-opacity: 1;
    }