.feature {
    fill: orange;
    stroke: #333;
    stroke-width: .5px;
    stroke-linejoin: round;
}

.feature.active {
    fill: blue;
    stroke: #333;
    stroke-width: .5px;
    stroke-linejoin: round;
}

.map {
    position: absolute;
    width: 70%;
    height: 95%;
    top: 3px;
    background: #bef;
}

.control {
    position: fixed;
    left: 72%;
    top: 3px;
    width: 25%;
    height: 95%;
    background-color: #ccc;

}

.city{
    fill: red;
}

.city.hidden{
    display: none;
}

div.items div:not(:target) {display: none}
div.items div:target {display: block}

.tab{
    font: bold 13px;
    font-decoration: none;
    background-color: #EEEEEE;
    color: #333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.country-label {
    fill: #777;
    fill-opacity: 0.7;
    font-weight: 300;
    display: none;
}

    .city-label{
        fill: black;
        font-weight: 100;
        font-size: 3px;
        display: none;
    }